* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: #FFB6C1;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-container {
    max-width: 1220px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

        h1 {
             color: aliceblue;
        }

    ul {
    list-style: none;
    display: flex;
    gap: 4rem;

    a {
        color: aliceblue;
        text-decoration: none;
        font-weight: 700;
    }
}

li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
}
}

main {
    background-color:oklch(94.1% 0.03 12.58);
    padding-block: 5rem;
}

.main-container {
    max-width: 1220px;
    margin-inline: auto;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    p {
        max-width: 68rem;
        text-align: center;
        margin-inline: auto;
        line-height: 2.5rem;
    }

    mark {
        background: oklch(90.2% 0.063 306.703);
    }

    section {
        margin-bottom: 4rem;

        div {
            width: 6rem;
            height: 6rem;
            background: oklch(71.2% 0.194 13.428);
            margin-inline: auto;
            margin-bottom: 2rem;
        }

        .pink {
            background: pink;
        }
    }
}

#relative {
    .pink {
        position: relative;
        top: 3rem;
        left: 5rem;
    }
}

 

